/* About us */
*{
  text-align: center;
}
h1{
  margin-top: 50px;
  font-weight: 900;
  color: rgba(75, 77, 77, 0.452);
  text-shadow: 2px 2px 1px black;
}
@media screen and (max-width: 300px) {
  h1 {
    font-size: 30px;
  }
}
p{
  margin: 20px ;
}
h3{
  margin-top: 30px;
}
.box-row{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.box{
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 10px rgba(75, 77, 77, 0.452);
  margin: 15px;
}
.box img{
  width: 200px;
  height: 200px;
  padding: 10px;
}

/* Footer */
.copy{
  text-align: left;
}